/* Write your CSS here */
.back_ground {
  background-color: #ffd569;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 80vh;
}
.cards_container {
  display: flex;
  flex-direction: row;
}
.image {
  height: 50vh;
}
button {
  background-color: rgb(118, 118, 238);
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}
span {
  color: #ffd569;
}
